registry=https://pkgs.dev.azure.com/azfunc/public/_packaging/upstream-public/npm/registry/
@emnapi:registry=https://pkgs.dev.azure.com/azfunc/public/_packaging/upstream-public/npm/registry/
@eslint:registry=https://pkgs.dev.azure.com/azfunc/public/_packaging/upstream-public/npm/registry/
@eslint-community:registry=https://pkgs.dev.azure.com/azfunc/public/_packaging/upstream-public/npm/registry/
@github:registry=https://pkgs.dev.azure.com/azfunc/public/_packaging/upstream-public/npm/registry/
@hono:registry=https://pkgs.dev.azure.com/azfunc/public/_packaging/upstream-public/npm/registry/
@humanfs:registry=https://pkgs.dev.azure.com/azfunc/public/_packaging/upstream-public/npm/registry/
@humanwhocodes:registry=https://pkgs.dev.azure.com/azfunc/public/_packaging/upstream-public/npm/registry/
@jridgewell:registry=https://pkgs.dev.azure.com/azfunc/public/_packaging/upstream-public/npm/registry/
@microsoft:registry=https://pkgs.dev.azure.com/azfunc/public/_packaging/upstream-public/npm/registry/
@napi-rs:registry=https://pkgs.dev.azure.com/azfunc/public/_packaging/upstream-public/npm/registry/
@opentelemetry:registry=https://pkgs.dev.azure.com/azfunc/public/_packaging/upstream-public/npm/registry/
@oxc-project:registry=https://pkgs.dev.azure.com/azfunc/public/_packaging/upstream-public/npm/registry/
@rolldown:registry=https://pkgs.dev.azure.com/azfunc/public/_packaging/upstream-public/npm/registry/
@standard-schema:registry=https://pkgs.dev.azure.com/azfunc/public/_packaging/upstream-public/npm/registry/
@tybys:registry=https://pkgs.dev.azure.com/azfunc/public/_packaging/upstream-public/npm/registry/
@types:registry=https://pkgs.dev.azure.com/azfunc/public/_packaging/upstream-public/npm/registry/
@typescript-eslint:registry=https://pkgs.dev.azure.com/azfunc/public/_packaging/upstream-public/npm/registry/
@vitest:registry=https://pkgs.dev.azure.com/azfunc/public/_packaging/upstream-public/npm/registry/
